<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Novo Grupo</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>

<form class="form-group">
  <ul class="user-errors">
  </ul>
  <h1 class="h3 mb-3 font-weight-normal">Novo Grupo</h1>

  <label for="inputName" class="sr-only">Nome</label>
  <input type="text" id="inputName" class="form-control" placeholder="Nome" required autofocus>

  <select class="form-control" id="inputDayOfWeek">
    <option value="Domingo">Domingo</option>
    <option value="Segunda-feira">Segunda-feira</option>
    <option value="Terça-feira">Terça-feira</option>
    <option value="Quarta-feira">Quarta-feira</option>
    <option value="Quinta-feira">Quinta-feira</option>
    <option value="Sexta-feira">Sexta-feira</option>
    <option value="Sábado">Sábado</option>
  </select>

  <label for="inputAddress" class="sr-only">Endereço</label>
  <input type="text" id="inputAddress" class="form-control" placeholder="Endereço" required autofocus>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
</form>

