<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Participantes</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="#" id="newMember" class="btn btn-primary">Novo Participante</a>
  </div>
</div>

<table id="members" class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Grupo</th>
      <th>Telefone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{~ it.members :member}}
      <tr>
        <td>{{= member.name}}</td>
        <td>{{= member.group_name}}</td>
        <td>{{= member.telephone}}</td>
        <td></td>
      </tr>
    {{~}}
  </tbody>
</table>

