<h3>Encontros</h3>

<table id="encontros" class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Número de Participantes Ativos</th>
      <th>Número de Visitantes</th>
      <th>Número de Crianças</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{~ it.meetings :meeting}}
      <tr>
        <td>{{= meeting.date}}</td>
        <td>{{= meeting.number_of_participants}}</td>
        <td>{{= meeting.number_of_visitors}}</td>
        <td>{{= meeting.number_of_children}}</td>
        <td><a href="#" class="deleteMeeting" data-id="{{= meeting.id}}">excluir</a></td>
      </tr>
    {{~}}
  </tbody>
</table>

