<!doctype html>
<html lang="pt-BR">
  <head>
    <title>GPS - Igreja Presbiteriana de Paulínia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/signin.css?{{asset}}" rel="stylesheet">
    <link href="/css/dashboard.css?{{asset}}" rel="stylesheet">
  </head>
  <body>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/doT.min.js"></script>
  <script src="/js/dashboard.js?{{asset}}"></script>
  <script src="/js/login.js?{{asset}}"></script>
  <script src="/js/users.js?{{asset}}"></script>
  <script src="/js/application.js?{{asset}}"></script>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</html>
