<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">GPS</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a id="btnSignOut" class="nav-link" href="#">Sair</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a id="dashboardMenuItem" class="nav-link active" href="#">
              <span data-feather="home"></span>
              Home<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="groupsMenuItem" class="nav-link" href="#">
              <span data-feather="layers"></span>
              Grupos
            </a>
          </li>
          <li class="nav-item">
            <a id="membersMenuItem" class="nav-link" href="#">
              <span data-feather="users"></span>
              Participantes
            </a>
          </li>
          <li class="nav-item">
            <a id="reportMenuItem" class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Relatórios
            </a>
          </li>
          <li class="nav-item">
            <a id="usersMenuItem" class="nav-link" href="#">
              <span data-feather="user"></span>
              Usuários
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main id="mainContent" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
  </div>
</div>
